.java_keyword {
  color: #E3CEAB;
}
.java_comment {
  color: #CC9393;
}
.java_plain, .java_type {
  color: black;
}
.code .java_plain, .code .java_type {
  color: #DCDCDC;
}
.java_separator {
  color: #DCDCDC;
}
.java_operator {
  color: #8CD0D3;
}
.java_literal {
  color: #7F9F7F;
}

